{% extends 'base/body.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="wrapper">
        <div class="content-wrapper">
            <section class="content">
                <div class="card card-solid">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <img src="{{ object.lis_image }}" class="product-image" alt="Product Image">
                            </div>
                            <div class="col-12 col-sm-6">
                                <div>
                                    <a href="{% url 'index' %}">
                                        <button class="btn bg-dark float-right">
                                            HOME
                                        </button>
                                    </a>
                                    <h3 class="my-3">{{ object.lis_name }}</h3>
                                </div>
                                <p>{{ object.lis_description }}</p>
                                {% if object.lis_active %}
                                    <div class="bg-danger py-2 px-3 mt-4">
                                        <h3>Current price:</h3>
                                        <h3 class="mb-0"> $ {{ object.lis_price }} </h3>
                                    </div>
                                    <div class="mt-4">
                                        <div class="row m-2">
                                            {% if object.lis_active and object.lis_user != request.user %}
                                                <a href="{% url 'bid' object.id %}">
                                                    <button class="mr-2 btn btn-primary btn-flat" type="submit">
                                                        <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                                        Make a Bid
                                                    </button>
                                                </a>
                                            {% endif %}

                                            {% if request.user != object.lis_user %}
                                                {% if watch %}
                                                    <form action="{% url 'remove' object.id %}" method="post">
                                                        {% csrf_token %}
                                                        <button class="btn btn-danger btn-flat" type="submit">
                                                            <i class="fas fa-trash fa-lg mr-2"></i>
                                                            Remove to WatchList
                                                        </button>
                                                    </form>
                                                {% else %}
                                                    <form action="{% url 'add' object.id %}" method="post">
                                                        {% csrf_token %}
                                                        <button class="btn btn-success btn-flat">
                                                            <i class="fas fa-heart fa-lg mr-2"></i>
                                                            Add to Watchlist
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    <h3>Item solded</h3>
                                    {% if bid.user == user %}
                                        <span class="description">Congratulations {{ bid.user }}! You won the auctions!</span>
                                    {% endif %}
                                {% endif %}


                                <b><span> Categories</span></b>
                                <div class="row">
                                    <ul style="list-style: none">
                                        {% for foo in object.category.all %}
                                            <li>{{ foo }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="row mt-4">
                            <nav class="w-100">
                                <div class="nav nav-tabs bg-light" id="product-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab"
                                       href="#product-desc" role="tab" aria-controls="product-desc"
                                       aria-selected="true">Description</a>
                                    <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab"
                                       href="#product-comments" role="tab" aria-controls="product-comments"
                                       aria-selected="false"> <i class="far fa-comments"></i>Comments</a>
                                    {% if object.lis_user == user and bid %}
                                        <a class="nav-item nav-link" id="product-bid-tab" data-toggle="tab"
                                           href="#product-bid" role="tab" aria-controls="product-bid"
                                           aria-selected="false"> <i class="fas fa-door-closed"></i> Close Bid</a>
                                    {% endif %}

                                </div>
                            </nav>
                            <div class="tab-content p-3" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="product-desc" role="tabpanel"
                                     aria-labelledby="product-desc-tab"> {{ object.lis_description }}
                                </div>
                                <div class="tab-pane fade" id="product-comments" role="tabpanel"
                                     aria-labelledby="product-comments-tab">
                                    <div class="card-comments bg-white">
                                        {% for comment in comments %}
                                            <div class="card-comment">
                                                <div class="comment-text">
                                                    <span class="username"> {{ comment.user }}</span>
                                                    {{ comment.content }}
                                                    <span class="d-flex justify-content-end"> {{ comment.date }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#exampleModal"><i class="fas fa-plus-circle"></i>Add Comment
                                        </button>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">New Comment</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <form method="post">
                                                        <div class="modal-body">
                                                            {% csrf_token %}
                                                            {% for visible_field in form.visible_fields %}
                                                                <div class="form-group">
                                                                    <label for="">{{ visible_field.label }}</label>
                                                                    {{ visible_field|add_class:'form-control' }}
                                                                </div>
                                                            {% endfor %}
                                                            {% for hidden_field in form.hidden_fields %}
                                                                <div class="form-group">
                                                                    {{ hidden_field|add_class:'form-control' }}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">Save changes
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product-bid" role="tabpanel"
                                     aria-labelledby="product-bid-tab">
                                    The best bid is {{ bid.initial }} by {{ bid.user }}
                                    <div class="button-item">
                                        <form class="" action="{% url 'close' object.pk %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-dark">Close Auction</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer user-block d-flex justify-content-center">
                        <span class="description"> Create by : <b>{{ object.lis_user }}</b></span>
                        <span class="description">{{ object.lis_date }}</span>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}